<mat-toolbar class="mat-toolbar">
  <span>Listado de Clientes</span>
</mat-toolbar>

<div class="search-box">
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <input type="color:black;" matInput #filtrar placeholder="filtrar..." (keyup)="Filtrar(filtrar.value)">
  </mat-form-field>
</div>

<div class="table mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cli_Id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Codigo">
      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cli_clc_Codigo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cli_Nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Apellido">
      <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cli_Apellido}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Direccion">
      <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.cli_Direccion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu" class="accion">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="EditarCliente(element)">
            <mat-icon matTooltip="Editar" >edit</mat-icon>
          </button>
          <button mat-menu-item (click)="EliminarCliente(element)">
            <mat-icon matTooltip="Eliminar">delete</mat-icon>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

<button matTooltip="Nuevo" mat-fab class="add-button" (click)="Agregar()">+</button>
