<mat-toolbar class="mat-toolbar">
  <span>Listado de Tipos de Comprobantes</span>
</mat-toolbar>

<div class="search-box">
  <mat-icon>search</mat-icon>
  <mat-form-field>
    <input type="color:black;" matInput #filtrar placeholder="filtrar..." (keyup)="Filtrar(filtrar.value)">
  </mat-form-field>
</div>

<div class="table mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_Id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Codigo">
      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_Codigo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_Descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tipo">
      <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_Tipo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DebCredV">
      <mat-header-cell *matHeaderCellDef>Deb.Cred.Vend</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_DebitoCreditoVdor}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DebCredC">
      <mat-header-cell *matHeaderCellDef>Deb.Cred.Cdor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_DebitoCreditoCdor}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="EmiReci">
      <mat-header-cell *matHeaderCellDef>Emitido/Recibido</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_EmitidoRecibido}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="TNU">
      <mat-header-cell *matHeaderCellDef>Tabla Numeración</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.descripcionTNU}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="MovStock">
      <mat-header-cell *matHeaderCellDef>MovStock</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tco_MovimientoStock}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="menu" class="accion">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="EditarTCO(element)">
            <mat-icon matTooltip="Editar" >edit</mat-icon>
          </button>
          <button mat-menu-item (click)="EliminarTCO(element)">
            <mat-icon matTooltip="Eliminar">delete</mat-icon>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>

<button matTooltip="Nuevo" mat-fab class="add-button" (click)="Agregar()">+</button>
