<!-- <mat-toolbar class="example-toolbar">
  <mat-toolbar-row>
	  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Gestión de Stock</h1>

    <div class="user">
      <a routerLink="/login" routerLinkActive="activo">
        <i class="material-icons">person_pin</i>
        {{ Session }}
      </a>
   </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>

	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		  <mat-nav-list>

			  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				  <span class="full-width" *ngIf="isExpanded || isShowing">Gestión</span>
				  <mat-icon mat-list-icon>storage</mat-icon>
				  <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>

			  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item (click)="IrAArticulos()">Articulos</a>
				<mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
					<mat-list-item>SubSubmenu Item 1</mat-list-item>
					<mat-list-item>SubSubmenu Item 2</mat-list-item>
				</div>
        </div>


      </mat-nav-list>

  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container> -->




<mat-toolbar class="example-toolbar">
	  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Gestión de Stock</h1>

    <div class="user">
      <a routerLink="/login" routerLinkActive="activo">
        <i class="material-icons">person_pin</i>
        {{ Session }}
      </a>
   </div>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
  <!-- Sidenav -->
  <mat-sidenav class="example-sidenav" #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>

    <mat-nav-list>
      <mat-list-item (click)="IrAPrincipal()">
        <mat-icon>home</mat-icon>Principal
        <button mat-icon-button></button>
      </mat-list-item>

      <mat-list-item (click)="menuGestion.openMenu()">
        <mat-icon>dashboard</mat-icon>Gestión
        <button mat-icon-button #menuGestion="matMenuTrigger"  [matMenuTriggerFor]="gestion"></button>
      </mat-list-item>
      <mat-menu #gestion="matMenu">
        <button mat-menu-item (click)="IrAArticulos()">Artículos</button>
        <button mat-menu-item (click)="IrAClientes()">Clientes</button>
      </mat-menu>

      <mat-list-item (click)="menuConfiguracion.openMenu()">
        <mat-icon>settings</mat-icon>Configuración
        <button mat-icon-button #menuConfiguracion="matMenuTrigger" [matMenuTriggerFor]="config"></button>
      </mat-list-item>
      <mat-menu #config="matMenu">
        <button mat-menu-item (click)="IrAUME()">Unidades Medida</button>
        <button mat-menu-item (click)="IrACIA()">Categorías Iva Artículo</button>
        <button mat-menu-item (click)="IrATMO()">Tipos Monedas</button>
        <button mat-menu-item (click)="IrATNU()">Tablas de Numeración</button>
        <button mat-menu-item (click)="IrATCO()">Tipos Comprobantes</button>
        <button mat-menu-item (click)="IrAPDU()">Productos</button>
        <button mat-menu-item (click)="IrAPCH()">Cosechas</button>
      </mat-menu>

      <mat-list-item (click)="menuOrdenesVenta.openMenu()">
        <mat-icon>assignment</mat-icon>Ordenes Venta
        <button mat-icon-button #menuOrdenesVenta="matMenuTrigger" [matMenuTriggerFor]="ove"></button>
      </mat-list-item>
      <mat-menu #ove="matMenu">
        <button mat-menu-item (click)="IrAOVEListado()">Listado</button>
        <button mat-menu-item (click)="IrAOVENueva()">Nueva</button>
      </mat-menu>

      <mat-list-item (click)="menuComprobantesEmitidos.openMenu()">
        <mat-icon>assignment</mat-icon>Comprobantes Emitidos
        <button mat-icon-button #menuComprobantesEmitidos="matMenuTrigger" [matMenuTriggerFor]="cemEmitidos"></button>
      </mat-list-item>
      <mat-menu #cemEmitidos="matMenu">
        <button mat-menu-item (click)="IrACEMEmitidos()">Listado</button>
        <button mat-menu-item (click)="IrACEMEmiNuevo()">Nuevo</button>
      </mat-menu>

      <mat-list-item (click)="menuComprobantesRecibidos.openMenu()">
        <mat-icon>assessment</mat-icon>Comprobantes Recibidos
        <button mat-icon-button #menuComprobantesRecibidos="matMenuTrigger" [matMenuTriggerFor]="cemRecibidos"></button>
      </mat-list-item>
      <mat-menu #cemRecibidos="matMenu">
        <button mat-menu-item (click)="IrACEMRecibidos()">Listado</button>
        <button mat-menu-item (click)="IrACEMRecNuevo()">Nuevo</button>
      </mat-menu>

    </mat-nav-list>

  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

  </mat-sidenav-container>
