<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Login</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-content>
    <form class="example-form" #f ="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="usuario" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="clave" type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="Ingresar()" color="primary" [disabled]="!f.valid">Login</button>
  </mat-card-actions>
</mat-card>
