<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
      <span>Login</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form #f ="ngForm">
      <table table cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="input">
            <input matInput placeholder="Username" [(ngModel)]="usuario" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td>
          <mat-form-field class="input">
          <input matInput placeholder="Password" [(ngModel)]="clave" type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>

  </mat-card-content>
  <mat-card-actions >
    <button class="button" mat-raised-button  (click)="Ingresar()" color="primary" [disabled]="!f.valid">Login</button>
  </mat-card-actions>
</mat-card>
